.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DBC2CF;
  padding: 1rem;
  color: #6fb3ca;
  font-family: 'Poppins', sans-serif;
  box-shadow: 3px 3px 5px 0px rgba(60, 122, 137, 0.5);
  border-radius: 143px;
  margin: 1% 3%;
  background-color: #F5F5F5;
  z-index: 1;
  }
  
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}
  
.link {
  color: #2E4756;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.link:hover {
  background-color: #555;
  cursor: pointer;
}
  
.dropdownMenu {
  position: absolute;
  top: 100%;
  background-color: #DBC2CF;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
  
.dropdownItem {
  background: none;
  border: none;
  color: #2E4756;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
  
.dropdownItem:hover {
  background-color: #555;
  color: #fff;
}


.link {
  color: #16262E;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.link:hover {
  background-color: #AACFDA;
  color: #FFFFFF;
  cursor: pointer;
}
  
.active {
  background-color: #555; /* Match the hover background color */
  color: #fff; /* Match the hover text color */
}
  
  
.userSection {
  position: relative;
  cursor: pointer;
  color: #2E4756;
  font-weight: bold;
  padding-right: 40px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userName {
  max-width: 150px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}