/* page.module.css */

.page {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  /* min-height: fit-content; */
  min-height: 100vh;
  background-color: #F8F8FF;
  background-image: url('/wavelines.png');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; 
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

.footer {
  background-color: #65697B;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}
