/* page.module.css */

.page {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-height: fit-content; */
    background-color: #F8F8FF;
    /* background-image: url('/wavelines2.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat; 
    opacity: 0.2; */
  }
  
  /* .waveImage {
    position: absolute;
    float: top;
  } */

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
    color: black;
  }

  .footer {
    background-color: #65697B;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
  }
  